infura_api_key = "<Infura shared API key named omni-indexer>"
testnet_sentry_node_url = "<Ask a team member>"
cloudflare_api_token = "<API token from our Cloudflare account>"

prometheus_url = "<Prometheus URL>"
prometheus_user = "<Prometheus user>"
prometheus_password = "<Prometheus password>"
loki_url = "<Loki URL>"
loki_user = "<Loki user>"
loki_password = "<Loki password>"
